* {
    -fx-primary : #2A2E37;
    -fx-secondary : #FFFF8D;
    -fx-primarytext : #B2B2B2;
}

.root{
    -fx-background-color: -fx-primary;
}

.jfx-decorator {
    -fx-decorator-color: -fx-primary;
}

.jfx-svg-glyph:hover {
    -fx-background-color: red;
}

.jfx-decorator-title {
    -fx-fill: white;
    -fx-font-smoothing-type: lcd;
}

.jfx-decorator .jfx-decorator-buttons-container {
    /*-fx-background-color: -fx-decorator-color;*/
    -fx-background-color: -fx-decorator-color;
}

.jfx-decorator .resize-border {
    -fx-border-color: -fx-decorator-color;
    -fx-border-width: 0 4 4 4;
}

.glyph-icon {
    -fx-fill: -fx-primarytext
}


.jfx-button {
    /*-jfx-button-type: FLAT;*/
    -fx-text-fill: -fx-primarytext;
}

/* Login Screen Specific */
.submit-button {
    -fx-border-color: -fx-secondary;
    -fx-border-radius: 20px;
    -fx-background-radius: 20px;
}

.submit-button:hover {
    -fx-border-color: -fx-secondary;
    -fx-background-color: -fx-secondary;
    -fx-text-fill: -fx-primary;
}

.text-field {
    -fx-text-fill: -fx-primarytext;
    /*-fx-font-size: 13pt;*/
    -jfx-focus-color: -fx-secondary;
}

.register-text {
    -fx-fill: -fx-primarytext;
}

.register-text:hover {
    -fx-fill: -fx-secondary;
    -fx-underline: true;
    -fx-cursor: hand;
}

.left-arrow:hover{
    -fx-fill: -fx-secondary;
    -fx-cursor: hand;
}

/*.JfxToggle-button {*/
/*-jfx-disable-visual-focus: true;*/
/*-jfx-fill: -fx-primarytext;*/

/*}*/

.jfx-toggle-button {
    -fx-text-fill: white;
    /*-fx-border-color: -fx-secondary;*/
}

.chat-config-button {
    -fx-border-color: -fx-secondary;
}

.text-area {
    -fx-text-fill: white;
}

.WTText {
    -fx-text-fill: white;
    -fx-font-size: 18;
}

.jfx-chip-view {
    -fx-background-color: #242424;

}

/* ---- List cells ----- */
.list-cell:focused:selected {
    -fx-background-color: #55554f;
}

.list-cell:even {
    -fx-background-color: #242424;
}

.list-cell:odd {
    -fx-background-color: #242424;
}

/* ---------- */

.ConfigPane .label {
    -fx-text-fill: white;
}

.jfx-dialog-layout {
    -fx-background-color: -fx-primary;
}

.listViewText {
    -fx-font-smoothing-type: lcd;
    -fx-fill: white;
}

.buyIcon:hover {
    -fx-fill: green;
    -fx-cursor: hand;
}

.closeIcon:hover {
    -fx-fill: red;
    -fx-cursor: hand;
}

.mylistview {
    -fx-background-color: #242424;
}

/* --------------- Scrollbar ----------- */
.mylistview .scroll-bar:horizontal .track,
.mylistview .scroll-bar:vertical .track {
    -fx-background-color: #242424;
    -fx-border-color: #242424;
    -fx-background-radius: 0em;
    -fx-border-radius: 2em;
}

/* The increment and decrement button CSS class of scrollbar */
.mylistview .scroll-bar:horizontal .increment-button,
.mylistview .scroll-bar:horizontal .decrement-button {
    -fx-background-color: transparent;
    -fx-background-radius: 0em;
    -fx-padding: 0 0 10 0;

}

/* The increment and decrement button CSS class of scrollbar */

.mylistview .scroll-bar:vertical .increment-button,
.mylistview .scroll-bar:vertical .decrement-button {

    -fx-background-color: transparent;
    -fx-background-radius: 0em;
    -fx-padding: 0 10 0 0;

}

.mylistview .scroll-bar .increment-arrow,
.mylistview .scroll-bar .decrement-arrow {
    -fx-shape: " ";
    -fx-padding: 0;
}

/* The main scrollbar **thumb** CSS class which we drag every time (movable) */
.mylistview .scroll-bar:horizontal .thumb,
.mylistview .scroll-bar:vertical .thumb {
    -fx-background-color: derive(black, 90%);
    -fx-background-insets: 2, 0, 0;
    -fx-background-radius: 2em;

}

/* --- Snackbar ---*/

.jfx-snackbar-content {
    -fx-background-color: #263238;
}

.jfx-snackbar-toast {
    -fx-text-fill: white;
}

/*---*/
.settingsIcon:hover {
    -fx-fill: -fx-secondary;
    -fx-cursor: hand;
}

.storeBadge:hover {
    -fx-cursor: hand;
    -fx-opacity: 70%;
}
