
* {
    -fx-primary : #2A2E37;
    -fx-secondary : #FFFF8D;
    -fx-primarytext : #B2B2B2;
}

.root{
    -fx-background-color: -fx-primary;
}

.jfx-decorator {
    -fx-decorator-color: -fx-primary;
}

.jfx-svg-glyph:hover {
    -fx-background-color: red;
}

.jfx-decorator .jfx-decorator-buttons-container {
    -fx-background-color: -fx-decorator-color;
}

.jfx-decorator .resize-border {
    -fx-border-color: -fx-decorator-color;
    -fx-border-width: 0 4 4 4;
}

.glyph-icon {
    -fx-fill: -fx-primarytext
}


/*Raised button example */
.jfx-button {
    -jfx-button-type: FLAT;
    -fx-text-fill: -fx-primarytext;
}

/* Login Screen Specific */
.submit-button {
    -fx-border-color: -fx-secondary;
    -fx-border-radius: 20px;
    -fx-background-radius: 20px;
}

.submit-button:hover {
    -fx-border-color: -fx-secondary;
    -fx-background-color: -fx-secondary;
    -fx-text-fill: -fx-primary;
}

.text-field {
    -fx-text-fill: -fx-primarytext;
    /*-fx-font-size: 13pt;*/
    -jfx-focus-color: -fx-secondary;
}

.register-text {
    -fx-fill: -fx-primarytext;
}

.register-text:hover {
    -fx-fill: -fx-secondary;
    -fx-underline: true;
    -fx-cursor: hand;
}

.left-arrow:hover{
    -fx-fill: -fx-secondary;
    -fx-cursor: hand;
}

.JfxToggle-button {
    -jfx-disable-visual-focus: true;
    -jfx-fill: -fx-primarytext;

}

/*.jfx-text-area,*/
/*.jfx-text-area .scroll-pane,*/
/*.jfx-text-area:focused,*/
/*.jfx-text-area:focused .scroll-pane{*/
/*-fx-background-color: TRANSPARENT, TRANSPARENT, TRANSPARENT, TRANSPARENT;*/
/*}*/

.text-area {
    -fx-background-color: #242424;
    -fx-text-fill: green;
}

